<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Time to buy?</title>
</head>
<body>
    <form action="/postTickerData" method="post">
        Ticker Symbol : <input type="text" name="tickerSymbol">
        <input type="submit" value="find"><br><br>
    </form>

    <th:block th:if = "${tickerCostInfo != null}">
        Today         : <li th:text="${tickerCostInfo.date}"></li>
        Ticker Symbol : <li th:text="${tickerCostInfo.symbol}"></li>
        Avg Price    : <li th:text="${tickerCostInfo.avgPrice}"></li>
        Current Price  : <li th:text="${tickerCostInfo.currentPrice}"></li>
        Time to buy?  :
        <td th:if = "${tickerCostInfo.timeToBuy}">
            <li>Yes</li>
        </td>
        <td th:if = "${!tickerCostInfo.timeToBuy}">
            <li>No</li>
        </td>
    </th:block>

    <th:block th:if = "${errMessage != null}">
        <td th:text="${errMessage}"></td>
    </th:block>

</body>
</html>